In [29]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/toyota-dataset/Toyota.csv

In [30]:
cars_data = pd.read_csv("/kaggle/input/toyota-dataset/Toyota.csv",index_col=0,na_values=["??","????"])
print(cars_data.shape)

cars_data_ins = cars_data.copy()

(1436, 10)

In [31]:
pd.crosstab(index=cars_data_ins['FuelType'],columns='Count',dropna=True)

col_0     Count
FuelType
CNG          15
Diesel      144
Petrol     1177

In [32]:
pd.crosstab(index = cars_data_ins['FuelType'], columns = cars_data_ins['Automatic'],dropna = True)

Automatic     0   1
FuelType
CNG          15   0
Diesel      144   0
Petrol     1104  73

In [33]:
pd.crosstab(index = cars_data_ins['FuelType'], columns = cars_data_ins['Automatic'],normalize=True,dropna = True)

Automatic         0         1
FuelType
CNG        0.011228  0.000000
Diesel     0.107784  0.000000
Petrol     0.826347  0.054641

In [34]:
pd.crosstab(index = cars_data_ins['FuelType'], columns = cars_data_ins['Automatic'], margins=True, normalize=True, dropna = True)

Automatic         0         1       All
FuelType
CNG        0.011228  0.000000  0.011228
Diesel     0.107784  0.000000  0.107784
Petrol     0.826347  0.054641  0.880988
All        0.945359  0.054641  1.000000

In [35]:
pd.crosstab(index = cars_data_ins['Automatic'], columns = cars_data_ins['FuelType'], margins=True, normalize='index', dropna = True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988

In [36]:
pd.crosstab(index = cars_data_ins['Automatic'], columns = cars_data_ins['FuelType'], margins=True, normalize='columns', dropna = True)

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

In [37]:
num_data = cars_data_ins.select_dtypes(exclude=[object])
print(num_data.shape)

(1436, 8)

In [41]:
corr_mat = num_data.corr()
corr_mat

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
Price,1.000000,-0.878407,-0.574720,0.309902,0.112041,0.033081,0.165067,0.581198
Age,-0.878407,1.000000,0.512735,-0.157904,-0.099659,0.032573,-0.120706,-0.464299
KM,-0.574720,0.512735,1.000000,-0.335285,-0.093825,-0.081248,0.299993,-0.026271
HP,0.309902,-0.157904,-0.335285,1.000000,0.064749,0.013755,0.053758,0.086737
MetColor,0.112041,-0.099659,-0.093825,0.064749,1.000000,-0.013973,0.029189,0.057142
Automatic,0.033081,0.032573,-0.081248,0.013755,-0.013973,1.000000,-0.069321,0.057249
CC,0.165067,-0.120706,0.299993,0.053758,0.029189,-0.069321,1.000000,0.651450
Weight,0.581198,-0.464299,-0.026271,0.086737,0.057142,0.057249,0.651450,1.000000